@import '../../styles/variables.scss';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: $dark-font;
}

html {
    min-height: 100vh;
}

body {
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}

@media screen and (max-width: 1350px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .table__header {
        &__title    {
            font-size: 16px;
        }

        &__row__cell {
            font-size: 12px;
        }
    }

    .table__main__table__body__{
        &__row__cell {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 576px) {
    .table__header {
        &__title {
            font-size: 13px;
        }

        &__row__cell {
            font-size: 9px;
            padding: 10px 5px;
        }
    }

    .table__main__table__body{
        &__row__cell {
            font-size: 12px;
            padding: 10px 5px;
        }
    }
}

@media screen and (max-width: 480px) {
    .table__header {
        &__title    {
            font-size: 13px;
        }

        &__row__cell {
            font-size: 9px;
            padding: 10px 2px;
        }
    }

    .table__main__table__body{
        &__row__cell {
            font-size: 12px;
            padding: 10px 2px;
        }
    }
}